.navbarColor {
  background-color: #16abf8 !important;
}

.bottomCard {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.bottomComponent {
  font-size: 14px;
  color: #888888;
}
